body {
    background-color: rgb(239, 223, 255);
}

#div2 {
    background-color: rgb(228, 255, 229);
    border-radius: 20px;
    height: 300px;
}

#footer {
    font-size: 20px;
}

b {
    font-size: 20px;
}

span {
    font-size: 16px;
}

h4{
    margin-left: 60%;
}

p{
    font-size: 20px;
    color:rgb(27, 116, 30);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
}